*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h5,
h4,
h3,
h2,
h1 {
    margin-bottom: 0 !important;
}

body,
.d-grid {
    height: 100dvh;
    background: var(--mdb-primary);
}

.d-grid {
    align-self: center;
    align-items: center;
    justify-content: center;
}
.d-grid[data-color="red"] {
    background: tomato;
}
.d-grid[data-color="green"] {
    background: lime;
}

/* Imagenes */
#levesDatas #image {
    height: 400px;
}

.fill-detail {
    fill: lime;
}

.ic-iconify {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.loader {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-width='2' d='M12 6.99998C9.1747 6.99987 6.99997 9.24998 7 12C7.00003 14.55 9.02119 17 12 17C14.7712 17 17 14.75 17 12'%3E%3CanimateTransform attributeName='transform' attributeType='XML' dur='0.448s' from='0,12,12' repeatCount='indefinite' to='360,12,12' type='rotate'/%3E%3C/path%3E%3C/svg%3E");
}
